* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "titling-gothic-fb";
  font-style: normal;
  font-weight: 500;
}

$mycolors: (
  bgTurquoise: #59daae,
);

body {
  background-color: map-get($mycolors, bgTurquoise);
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 85% auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.super-large {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 6vw;
  color: white;
  transition-duration: 2s;
  cursor: pointer;
  user-select: none;
}

.icon {
  width: 30px;
  height: 30px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-left: 80px;
  padding-right: 80px;
}
